<body>

    <nav>
        <a href="{{url_for('index')}}">Início</a>
        <a href="{{url_for('catalogo')}}">Catálogo</a>
        <a href="{{url_for('produto_lista')}}">Produtos</a>
        <a href="{{url_for('sobre')}}">Sobre</a>
    </nav>

    {% if produto %}
    {% if produto.quantidade == 0 %}
        <p style="color: red;"><strong>Produto fora de estoque</strong></p>
    {% elif produto.quantidade < 5 %}
        <p style="color: orange;"><strong>Atenção</strong></p>
    {% else %}
        <p style="color: green;"><strong>Em Estoque</strong></p>
    {% endif %}
{% else %}
    <p>Produto não encontrado</p>
{% endif %}
</body>